<!DOCTYPE html>
<html lang="de">

<head>
	<title>CypherNexus</title>
	<link rel='stylesheet' type='text/css' href='../css/webpagestyle.css'>
	<link rel='stylesheet' type='text/css' href='../css/webpagestyle_responsive.css'>
	<link rel='stylesheet' type='text/css' href='../css/style.css'>
    <link rel='stylesheet' type='text/css' href='../css/projects.css'>

	<meta charset='UTF-8'>
	<meta name="description" content="Loginform, Registerform, Registrierungsformular, Loginformular">
	<meta name="keywords" content="Login, Register, Registrieren, Anmelden, Anmeldung">
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
	<meta name="author" content="Luca Kaiser, Tobias Welt, Thomas Enzo Schmitz">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src='https://kit.fontawesome.com/5a49021eb8.js' crossorigin="anonymous"></script>
	<link rel="faBvicon" type="image/x-icon" href="favicon.ico">
</head>



<%- include('./header.ejs', {active: "Aboutus"}); %>


<section class='divide aboutus'>
    <div class="whiteheader">
        <h1>Unser Team</h1>
    </div>
    <div class="sub-aboutus">
        <div class="team">
            <img src="../assets/lucak.jpg" alt="">
            <h3 class="padding-vertical whiteheader">Luca Kaiser</h3>
            <div class="ourteamsocialmedia">
                <a href="https://www.linkedin.com/in/luca-kaiser-8678a2230/"><i class="fab fa-linkedin-in fa-lg"></i></a>
                <a href="https://twitter.com/KLuca276"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com/lucakaiser/"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://github.com/lucak276"><i class="fab fa-github fa-lg"></i></a>
            </div>
        </div>
        <div class="team">
            <img src="../assets/thomass.jpg" alt="">
            <h3 class="padding-vertical whiteheader">Thomas Schmitz</h3>
            <div class="ourteamsocialmedia">
                <a href="https://www.linkedin.com/in/thomas-enzo-schmitz-30765b205/"><i class="fab fa-linkedin-in fa-lg"></i></a>
                  <a href="https://twitter.com/Chewbacha_12"><i class="fab fa-twitter fa-lg"></i></a>
                  <a href="https://www.instagram.com/chewbacha_1/"><i class="fab fa-instagram fa-lg"></i></a>
                  <a href="https://github.com/Chewbacha12"><i class="fab fa-github fa-lg"></i></a>
            </div>
        </div>
        <div class="team">
            <img src="../assets/tobiasw.jpg" alt="">
            <h3 class="padding-vertical whiteheader">Tobias Welti</h3>
            <div class="ourteamsocialmedia">
                <a href="https://www.linkedin.com/in/tobias-welti-896022231/"><i class="fab fa-linkedin-in fa-lg"></i></a>
                <a href="https://twitter.com/weltitob"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com/tobsq/"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://github.com/weltitob?tab=repositories"><i class="fab fa-github fa-lg"></i></a>
            </div>
        </div>
    </div>
</section>
