<footer class='footer'>
    <div class="waves"></div>
    <div class='socialspace'>
        <a href="https://www.instagram.com"><div class='social-container dark'>
            <span><i class='fab fa-instagram'></i></span>
            <div class='tooltip'>Instagram</div>
        </div></a>
        <a href="https://twitter.com/?lang=de"><div class='social-container dark'>
            <span><i class='fab fa-twitter'></i></span>
            <div class='tooltip'>Twitter</div>
        </div></a>
        <a href="https://discord.gg/vrX7c9Jx"><div class='social-container dark'>
            <span><i class='fab fa-discord'></i></span>
            <div class='tooltip'>Discord</div>
        </div></a>
        <a href="https://github.com/"><div class='social-container dark'>
            <span><i class='fab fa-github'></i></span>
            <div class='tooltip'>GitHub</div>
        </div></a>
    </div>
    <ul class='row-footer'>
        <li><a href='/impressum'>Impressum</a></li>
        <li><a href='/aboutus'>Unser Team</a></li>
    </ul>
    <div class='footerendpadding blacksmalltext'>© 2022 CypherNexus</div>
</footer>