<footer class='footer'>
    <div class="waves"></div>
    <div class='socialspace'>
        <div class='social-container dark'>
            <span><i class='fab fa-instagram'></i></span>
            <div class='tooltip'>Instagram</div>
        </div>
        <div class='social-container dark'>
            <span><i class='fab fa-twitter'></i></span>
            <div class='tooltip'>Twitter</div>
        </div>
        <div class='social-container dark'>
            <span><i class='fab fa-discord'></i></span>
            <div class='tooltip'>Discord</div>
        </div>
        <div class='social-container dark'>
            <span><i class='fab fa-github'></i></span>
            <div class='tooltip'>GitHub</div>
        </div>
    </div>
    <ul class='row-footer'>
        <li><a href='#'>Impressum</a></li>
        <li><a href='#'>Rechtliches</a></li>
        <li><a href='#'>Hilfe</a></li>
        <li><a href='./html/aboutus.html'>Unser Team</a></li>
    </ul>
    <div class='footerendpadding blacksmalltext'>© 2022 CypherNexus</div>
</footer>