<footer class='footer'>
    <div class="waves"></div>
    <div class='socialspace'>
        <a href="https://www.instagram.com" style="text-decoration: none;"><div class='social-container dark'>
            <span><i class='fab fa-instagram'></i></span>
            <div class='tooltip'>Instagram</div>
        </div></a>
        <a href="https://twitter.com/?lang=de" style="text-decoration: none;"><div class='social-container dark'>
            <span><i class='fab fa-twitter'></i></span>
            <div class='tooltip'>Twitter</div>
        </div></a>
        <a href="https://discord.gg/vrX7c9Jx" style="text-decoration: none;"><div class='social-container dark'>
            <span><i class='fab fa-discord'></i></span>
            <div class='tooltip'>Discord</div>
        </div></a>
        <a href="https://github.com/" style="text-decoration: none;"><div class='social-container dark'>
            <span><i class='fab fa-github'></i></span>
            <div class='tooltip'>GitHub</div>
        </div></a>
    </div>
    <ul class='row-footer'>
        <li><a href='/impressum'>Impressum</a></li>
        <li><a href='/aboutus'>Unser Team</a></li>
        <li><a href='https://docs.google.com/forms/d/e/1FAIpQLSdNmLCfIEooC2WGr4ywwQ-vYYS3xLbA563VUVFU2FtUjliUrA/viewform?usp=sf_link'>Feedback</a></li>
    </ul>
    <div class='footerendpadding blacksmalltext'>© 2022 CypherNexus</div>
</footer>