<header>
    <ul class="left-side">
    <img class="image-cnlogo" src="./assets/logo.svg"></img>
    <a href='/' class='CypherNexusLogo greenheader padding-left2'>CypherNexus</a>
    </ul>
     <ul>
         <li><a <%if(active=="Home"){%>class="active"<%}%> href="/root/index.html">Home</a></li>
         <li><a <%if(active=="Nexus"){%>class="active"<%}%> href="#">Nexus</a></li>
<<<<<<< HEAD
         <li><a <%if(active=="Aboutus"){%>class="active"<%}%> href="/aboutus">About&nbsp;Us</a></li>
         <li><a <%if(active=="Login"){%>class="active"<%}%> href="/login">Login</a></li>
=======
         <li><a <%if(active=="Login"){%>class="active"<%}%> href="/login">Login</a></li>
         <li><a <%if(active=="Aboutus"){%>class="active"<%}%> href="/aboutus">About&nbsp;Us</a></li>
>>>>>>> 897249e18272b5ec07e7bd63652e2245324b48c7
     </ul>
 </header>