<header>
    <ul>
    <img class="image-cnlogo" src="./assets/logo.svg"></img>
    <a href='/' class='CypherNexusLogo greenheader padding-left2'>CypherNexus</a>
    </ul>
    <ul>
        <li><a href="/root/index.html" class='active'>Home</a></li>
        <li><a href="#">Nexus</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/aboutus">About&nbsp;Us</a></li>
    </ul>
</header>