<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, install-scale=1.0">
    <meta name="keywords" content="Impressum">
    <title>Impressum</title>
    <link rel='stylesheet' type='text/css' href='../css/webpagestyle.css'>
	<link rel='stylesheet' type='text/css' href='../css/webpagestyle_responsive.css'>
	<link rel='stylesheet' type='text/css' href='../css/style.css'>
    <script src="https://kit.fontawesome.com/0b3a33708f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg" href="../assets/logo.svg">
</head>

<%- include('./header.ejs', {active: "Aboutus"}); %>

<body><div class="padding-all">
    <div class="container align-left">
        <div class="padding-bottom greenheader2">
            <h2>Impressum</h2>
        </div>
        <h3 class="greenheader2">Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
        <address class="whitetext">
            <p>Cypher Nexus<br />
            Fallenbrunnen 13<br />
            88045 Friedrichshafen</p>
        </address>
        <h3 class="greenheader2"><strong>Vertreten durch:</strong></h3>
        <address class="whitetext">
            <p>Luca Kaiser<br />
            Thomas Schmitz<br />
            Tobias Jung<br />
            Tobias Welti</p>
        </address>
        <h3 class="greenheader2">Kontakt</h3> 
        <address class="whitetext">
            <p>Ansprechpartner: Thomas Schmitz <br/>
                <a class="whitetext" href="tel:+4917516874433">+4917516874433</a> <br />
                <a class="whitetext" href="mailto:contact.cyphernexus@gmail.com">contact.cyphernexus@gmail.com</a> </p>
        </address>
        <h3 class="greenheader2">Umsatzsteuer-ID</h3>
        <address class="whitetext">
            <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
            DE999999999</p>
        </address>
        <h3 class="greenheader2">Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h3>
        <address class="whitetext">
            <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        </address>
    </div></div>
</body>