<!DOCTYPE html>
<html lang="de">

<head>
	<title>CypherNexus</title>
	<link rel='stylesheet' type='text/css' href='../css/loginstyle.css'>
	<link rel='stylesheet' type='text/css' href='../css/loginstyle_responsive.css'>
	<link rel='stylesheet' type='text/css' href="../css/style.css">
	<meta charset='UTF-8'>
	<meta name="description" content="Loginform, Registerform, Registrierungsformular, Loginformular">
	<meta name="keywords" content="Login, Register, Registrieren, Anmelden, Anmeldung">
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link rel="favicon" type="image/x-icon" href="favicon.ico">
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src='https://kit.fontawesome.com/5a49021eb8.js' crossorigin="anonymous"></script>
	<script src="../js/login_and_register.js" charset="utf-8"></script>
</head>

<body>
	<div class="display-login">
		<div class='two-sides-even2'>
			<aside class='container-center align-left' id="login_leftsidetext">
				<div class='paddingleft'>
					<h1 class='padding-vertical leftsidetext blacktext'>Willkommen im CypherNexus!</h1>
					<img src='../assets/login_page_character.svg' alt='' class='left-side-image'>
					<h3 class='padding-vertical leftsidetext blacktext'>Wir bilden die Brücke zwischen dir und anderen
						lernbegierigen Tech-Einsteigern! Du hast noch kein Konto?</h3>
					<button href='./register' class='btn btn-darkblue'>jetzt registrieren</button>
				</div>
			</aside>

			<main class='container-center'>
				<% if(typeof messages.error !== "undefined"){ %>
					<div class='container-login glass shake-container-red' id="glasscontainer-login">
				  <% } else{ %>  
					<div class='container-login glass' id="glasscontainer-login">
				  <% } %>
					<form class='container-center signin-signup' action="/login" method="post", autocomplete="off">
						<h2 class='padding-vertical2 whiteheader'>Login</h2>
						<div class='input-field'>
							<i class='fas fa-user'></i>
							<input id='usernameinput' pattern="^[a-zA-Z0-9]+$" name='username' type='username' placeholder='Username' />
						</div>
						<div class='input-field'>
							<i class='fas fa-lock'></i>
							<input id='passwordinput' name='password' type='password' placeholder='Password'
								minlength='8' required />
						</div>
						<% if(typeof messages.error !== "undefined") { %>
							<div class="small-text padding-vertical red" id="error-text"><%= messages.error %></div>
						<% } %>
						<div class='container-remembercheckbox'>
							<input type='checkbox' id='remembercheckbox' class='remembercheckbox' value='remember'
								checked>
							<label for='remembercheckbox'>Angemeldet bleiben</label>
						</div>
						<button type="submit" class='btn btn-lightgreen'>Anmelden</button>
						<div id='registernow' class='padding-vertical left-right-text'>Du hast noch kein Konto?
							<a href='./register'> Jetzt registieren</a>
						</div>
						<div class='small-text padding-vertical'>Oder melden Sie sich mit Platformen an</div>
						<!-- Currently only an design choice, functionality of google sign-in etc. can be added later on-->
						<div class='socialspace'>
							<div class='social-container light'>
								<span><i class='fab fa-facebook-f'></i></span>
								<div class='tooltip'>MetaMask</div>
							</div>
							<div class='social-container light'>
								<span><i class='fab fa-github'></i></span>
								<div class='tooltip'>GitHub</div>
							</div>
							<div class='social-container light'>
								<span><i class='fab fa-google'></i></span>
								<div class='tooltip'>Google</div>
							</div>
						</div>
					</form>
				</div>
				<div class='left-right-text'>Passwort vergessen?
					<a href='#'>Hier zurücksetzen</a>
				</div>
			</main>
		</div>
	</div>
</body>

</html>

