<!DOCTYPE html>
<html lang="de">
<head>
  <title>Preferences</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="favicon" type="image/x-icon" href="../assets/favicon.ico">
  <link rel='stylesheet' type='text/css'
    href="../css/preference_style.css">
  <link rel='stylesheet' type='text/css'
    href="../css/style.css">
  <meta charset="utf-8"/>
  <meta name="description" content="choosing preferences">
  <meta name="keywords" content="Form, preferences, tech, students, social, learning">
  <meta name="author"
        content="Luca Kaiser, Tobias Welt, Thomas Enzo Schmitz">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
      <header>
        <div class="top_nav" id="top_nav">
      <img src="../assets/logo.jpg" alt="logo" class="logo"/>
          <div id="el-act" >
              <nav>
                <ul>
                  <li><a  class="el" href="../index.html">Home</a></li>
                  <li><a  class="el" href="../html/">Forum</a></li>
                  <li><a  class="el" href="../html/loginpage.html">Login</a></li>
                  <li><a  class="el active" href="../html/preferences.html">Preferences</a></li>
                </ul>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <div class="container_p">
          <div class="container_c glass content">
          <form>
          <h1>Choose<span> your</span> Preferences</h1>
          <div id=discover_list>
            <div class="preferenceContainer">
              <input class="prefBtn" id="Python" value="Python" type="submit">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn chosen" type="button" value="C">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn chosen" type="button" value="C#">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="C++">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="JavaScript">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="HTML">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="CSS">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="FrontEnd">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="BackEnd">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value = "Cryptocurrency">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value=" Cryptography">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="Cryptoanalysis">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="Artificial Intelligence(AI)">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="Quantum Computing">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="Game Design">
            </div>
            <div class="preferenceContainer">
              <input class="prefBtn" type="button" value="Graphic Design">
            </div>
          <div class="pref_container">
          <button class="prefBtn" type="submit" id="pref-submit">Dive In</button>
          </div>
          </div>
          </form>
        </div>
          </div>
    </main>
  <footer>
  </footer><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/preferences.js"></script>
</body>
</html>
