<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, install-scale=1.0">
    <meta name="keywords" content="Impressum">
    <title>Preferences</title>
    <link rel='stylesheet' type='text/css' href='../css/webpagestyle.css'>
	<link rel='stylesheet' type='text/css' href='../css/webpagestyle_responsive.css'>
	<link rel='stylesheet' type='text/css' href='../css/style.css'>
    <link rel='stylesheet' type='text/css' href='../css/preferences.css'>
    <script src="https://kit.fontawesome.com/0b3a33708f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg" href="../assets/logo.svg">
</head>

<div class="container-preferences glass align-center-flex">
    <h2 class="container-center greenheader2 align-center padding-top">Für welche Themen interessieren Sie sich?</h2>
    <div class="list whitetext">
        <div class="form-element">
            <input type="checkbox" value="Python" id="Python">
            <label for="Python">
                <div class="title">
                    Python
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="C" id="C">
            <label for="C">
                <div class="title">
                    C
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="IoT" id="IoT">
            <label for="IoT">
                <div class="title">
                    IoT
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="JavaScript" id="JavaScript">
            <label for="JavaScript">
                <div class="title">
                    JavaScript
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="HTML" id="HTML">
            <label for="HTML">
                <div class="title">
                    HTML
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="CSS" id="CSS">
            <label for="CSS">
                <div class="title">
                    CSS
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="Crypto" id="Crypto">
            <label for="Crypto">
                <div class="title">
                    Crypto
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="Game Design" id="Game Design">
            <label for="Game Design">
                <div class="title">
                    Game Design
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="Graphic Design" id="Graphic Design">
            <label for="Graphic Design">
                <div class="title">
                    Graphic Design
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="Bots" id="Bots">
            <label for="Bots">
                <div class="title">
                    Bots
                </div>
            </label>
        </div>
        <div class="form-element">
            <input type="checkbox" value="Hacking" id="Hacking">
            <label for="Hacking">
                <div class="title">
                    Hacking
                </div>
            </label>
        </div><div class="form-element">
            <input type="checkbox" value="SmartHome" id="SmartHome">
            <label for="SmartHome">
                <div class="title">
                    SmartHome
                </div>
            </label>
        </div><div class="form-element">
            <input type="checkbox" value="Stocks" id="Stocks">
            <label for="Stocks">
                <div class="title">
                    Stocks
                </div>
            </label>
        </div><div class="form-element">
            <input type="checkbox" value="Studying" id="Studying">
            <label for="Studying">
                <div class="title">
                    Studying
                </div>
            </label>
        </div><div class="form-element">
            <input type="checkbox" value="Applications" id="Applications">
            <label for="Applications">
                <div class="title">
                    Applications
                </div>
            </label>
        </div>
    <a href ='/projects'><button class='btn btn-green'>Absenden</button></a>
    </div>
</div>
