<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, install-scale=1.0">
    <meta name="keywords" content="Projekte, JoinNow, CreateProjects, Communitys">
    <title>Projekte</title>
    <link rel="stylesheet" href="../css/projects.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/0b3a33708f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg" href="../assets/logo.svg">
</head>

<%- include('./header.ejs', {active: "Projects"}); %>

<div class="projects">
    <div class="projects_container">
        <div class="project_cards">
            <div id="iot" class="glass-projects">
                <a href="">
                    <div class="project_image">
                        <img src="../assets/iot.jpg" alt="">
                    </div>
                    <div class="project_title">
                        <h2>IoT Kurs</h2>
                    </div>
                    <div class="project_text padding-horizontal2">
                        <p>Von einfacher Steuerung von SmartHome Elementen wie Lampen, Steckdosen, ...
                            bis zur Einbindung des Toasters in ihr Smart Home lernen sie hier alles.</p>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>#IoT</li>
                            <li>#SmartHome</li>
                            <li>#Smart</li>
                        </ul>
                    </div>
                    <div class="project_joinnow">
                        <span>Join Now</span>
                        <i class="fab fa-discord fa-lg"></i>
                    </div>
                </a>
            </div>

            <div id="hacker" class="glass-projects">
                <a href="">
                    <div class="project_image">
                        <img src="../assets/undraw_hacker.svg" alt="">
                    </div>
                    <div class="project_title">
                        <h2>Hacking Project</h2>
                    </div>
                    <div class="project_text padding-horizontal2">
                        <p class="small-text">Bei unserem Projekt lernt ihr alles über das Hacken.
                            Unsere Gruppe besteht aus Technikaffinen Hackern, die euch bei all euren Fragen
                            die passende Antwort liefern könnnen.</p>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>#Security</li>
                            <li>#Hacking</li>
                        </ul>
                    </div>
                    <div class="project_joinnow">
                        <span>Join Now</span>
                        <i class="fab fa-discord fa-lg"></i>
                    </div>
                </a>
            </div>

            <div id="stocks" class="glass-projects">
                <a href="">
                    <div class="project_image">
                        <img src="../assets/TeamMember.png" alt="">
                    </div>
                    <div class="project_title">
                        <h2>Bitcoin mining code</h2>
                    </div>
                    <div class="project_text padding-horizontal2">
                        <p>C Projekt: Code um möglichst effizientes Bitcoin Mining auf neuen ARM chips zu betreiben.</p>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>#Stocks</li>
                            <li>#Stocks</li>
                            <li>#Stocks</li>
                        </ul>
                    </div>
                    <div class="project_joinnow">
                        <span>Join Now</span>
                        <i class="fab fa-discord fa-lg"></i>
                    </div>
                </a>
            </div>
            <div class="glass-projects">
                <a href="">
                    <div class="project_image">
                        <img src="../assets/Marvin.jpg" alt="">
                    </div>
                    <div class="project_title">
                        <h2>automated email response system</h2>
                    </div>
                    <div class="project_text padding-horizontal2">
                        <p>Python Project for automated email sorting and response system to
                        create a better workflow</p>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>#python</li>
                            <li>#Bots</li>
                            <li>#AI</li>
                        </ul>
                    </div>
                    <div class="project_joinnow">
                        <span>Join Now</span>
                        <i class="fab fa-discord fa-lg"></i>
                    </div>
                </a>
            </div>
            <div class="glass-projects">
                <a href="">
                    <div class="project_image">
                        <img src="../assets/AI%20Software.jpg" alt="">
                    </div>
                    <div class="project_title">
                        <h2>AI for early disease recognition</h2>
                    </div>
                    <div class="project_text padding-horizontal2">
                        <p>To defining new standards in healthcare. Preventing deaths of loved ones.
                            Written in python, executed in C.</p>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>#python</li>
                            <li>#C</li>
                            <li>#AI</li>
                            <li>#medicine</li>
                        </ul>
                    </div>
                    <div class="project_joinnow">
                        <span>Join Now</span>
                        <i class="fab fa-discord fa-lg"></i>
                    </div>
                </a>
            </div>
            <div class="glass-projects">
                <a href="">
                    <div class="project_image">
                        <img src="../assets/qc.jpg" alt="">
                    </div>
                    <div class="project_title">
                        <h2>Topping Quantum Supremacy</h2>
                    </div>
                    <div class="project_text padding-horizontal2">
                        <p> Developement of blockchain technology that is uncrackable even by Quantum Computers</p>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>#python</li>
                            <li>#C</li>
                            <li>#crypto</li>
                        </ul>
                    </div>
                    <div class="project_joinnow">
                        <span>Join Now</span>
                        <i class="fab fa-discord fa-lg"></i>
                    </div>
                </a>
            </div>
            <div class="glass-projects">
                <a href="">
                    <div class="project_image">
                        <img src="../assets/AI%20Software.jpg" alt="">
                    </div>
                    <div class="project_title">
                        <h2>To the moon</h2>
                    </div>
                    <div class="project_text padding-horizontal2">
                        <p>creating failsafe programs and AI for outer space missions and technology</p>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>#python</li>
                            <li>#C</li>
                            <li>#AI</li>
                            <li>#space</li>
                        </ul>
                    </div>
                    <div class="project_joinnow">
                        <span>Join Now</span>
                        <i class="fab fa-discord fa-lg"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>