

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 4px;
  box-sizing: border-box;
}

header
{
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
}
header .logo {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active{
  background: #fff;
  color: #2b1055;
}

body{
min-height: 100vh;
padding:10% 5% 10% 5%;
text-align: center;
}
.dark{
  background: linear-gradient(#2b1055,#7597de);
  color: #e6e6e6;
}

h1{
color: #32a852;
margin-top:50px;
}

button{
  cursor: pointer;
  border: 1px solid #555;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}


.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}


.btn {
  border: none;
  border-radius: 50px;
  margin: 20px;
  padding: 24px;
  width: 220px;
  cursor: pointer;
  color: #fff;
  background-size: 100%;
  text-transform: uppercase;
  border-radius: 100px;
}

.btn-1 {
  background-image: linear-gradient(to right, #00d2ff, #3a7bd5, #00d2ff);
}

.btn-1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
