@media only screen and (max-width: 1000.0px){

/* Specific */

#registernow{
  display: block;
}

#login_leftsidetext{
  display: none;
}


/* make entire screen resizeable*/

body{
  display: flex;
  flex-direction: column;
  background-image: none;
  background-color: rgba(20, 27, 41, 1);
}

.container{
  height: auto;
  width: auto;
}

.left-side{
  display: none;
}

.register-text{
  display: flex;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 17.0px;
  font-weight: 400;
}

.register-text a{
  cursor: pointer;
  text-decoration: none;
  color: rgba(192, 247, 183, 1);
  font-weight: 600;
}

.register-text a:hover{
  opacity: 0.8;
}


/* remove back button for smaller screen */

.btn-back {
  display: none;
}

}
