* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
  height: 100%;
  overflow-y: scroll;
}

.container-p {
  width:100%;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 8%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/matrix.jpg);
}

.container-c {
    background: linear-gradient(135deg, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0));
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border: 1.0px solid rgba(255, 255, 255, 0.20);
    border-radius: 20.0px;
    box-shadow: 0 10.0px 20.0px 0 rgba(0, 0, 0, 0.20);
    padding-top:  8%;
    height: 80%;
    background-color: inherit;
}

.container-c h1 {
    padding-bottom: 3%;
    text-align: center;
    font-size: 2em;
    color: white;
    opacity: 0.8;
}

.content {
  padding: 2%;
}

#discover-list {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

#pref-submit{
    align-items: center;
    text-align: center;
    justify-content: space-between;
    float: right;
    position: absolute;
    bottom: 2%;
    right: 1.5%;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: 8%;
    margin-bottom: 1%;
    padding: 1% 1%;
    border: 1px solid rgba(22, 24, 35, 0.2);
    border-radius: 20%;
    margin-right: 2%;
    background-color: rgba(20,27,41,0.6);
    color: #C0F7B7;


}

.pref-container{
}

.chosen {
    color: #5AC994;
    opacity: 0.8;
}

.btn-pref .chosen {
    color: #5AC994;
    opacity: 0.8;
}

.btn-pref {
    float: left;
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: 24px;
    margin-bottom: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(22, 24, 35, 0.2);
    border-radius: 12px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: rgba(20,27,41,0.6);
    color: #fff;
}
