*{
  text-decoration: none;
}

.projects {
    margin-top: 4%;
    margin-left: 40px;
    margin-right: 40px;
    color: #5AC994;
    background: #141B29;
    text-decoration: none;
}

.project_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: #124143;
    margin: 10px;
    width: 350px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    text-align: justify;

}

.project_image img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius:20px;
}

.project_panel {
    padding: 1.6rem 1rem 1rem 1rem;
}

.project_title h2{
    font-size: 1.4rem;
    color: #5AC994;
    font-weight: bold;
    text-align: center;
}

.project_text {
    padding-top: 0.1rem;
    text-align: center;
}

.project_text p{
    font-weight: lighter;
    color: #5AC994;
    margin-bottom: 2%;
}

.project_joinnow {
    margin: 3% auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 200;
    background-color: #141B29;
    width: fit-content;
    position: relative;
    text-decoration: none;
    color: #5AC994;

}

.nodeco {
  text-decoration: none;
}

.project_joinnow span{
  font-weight: bold;  
  text-decoration: none;

}

.tags ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-around;
}

.tags ul li{
    margin: 1%;
    padding: 8px 15px;
    border-radius: 10px;
    color: black;
    font-weight: 20px;
    background-color: #5AC994;
    letter-spacing: 1px;
    width: fit-content;
    align-content: center;
}



/* Glass container*/

.glass{
    padding: 2.0% 0 2.0% 0;
    background: linear-gradient(135deg, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0));
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border: 1.0px solid rgba(255, 255, 255, 0.20);
    border-radius: 20.0px;
    box-shadow: 0 10.0px 20.0px 0 rgba(0, 0, 0, 0.20);
  }
