* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: #5AC994;
    background: #141B29;
    text-decoration: none;
}

.main_container {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.card_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #124143;
    margin: 10px;
    width: 350px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    text-align: justify;

}

.card_image img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.card_panel {
    padding: 1.6rem 1rem 1rem 1rem;
}

.card_main_title h2{
    font-size: 1.4rem;
    color: #5AC994;
    background-color: #124143;
    font-weight: lighter;
    text-align: center;
}

.card_para {
    padding-top: 0.1rem;
    background: #124143;
    text-align: center;
}

.card_para p{
    font-weight: lighter;
    color: #5AC994;
    margin-bottom: 2%;
    background:#124143;
}

.card_joinnow {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 100;
    background-color: #141B29;
    width: fit-content;
    position: relative;
}

.tags_section ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background: #124143;
}

.tags_section ul li{
    margin: 1%;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-weight: 100;
    background-color: #5AC994;
    letter-spacing: 1px;
    width: fit-content;
}