* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: #5AC994;
    background: #141B29;
    text-decoration: none;
}

.projects {
    margin-top: 4%;
    margin-left: 40px;
    margin-right: 40px;
}

.project_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: #124143;
    margin: 10px;
    width: 350px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    text-align: justify;

}

.project_image img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.project_panel {
    padding: 1.6rem 1rem 1rem 1rem;
}

.project_title h2{
    font-size: 1.4rem;
    color: #5AC994;
    font-weight: lighter;
    text-align: center;
}

.project_text {
    padding-top: 0.1rem;
    text-align: center;
}

.project_text p{
    font-weight: lighter;
    color: #5AC994;
    margin-bottom: 2%;
}

.project_joinnow {
    margin: 3% auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 100;
    background-color: #141B29;
    width: fit-content;
    position: relative;
}

.tags ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tags ul li{
    margin: 1%;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-weight: 100;
    background-color: #5AC994;
    letter-spacing: 1px;
    width: fit-content;
}

/* Header */

header{
    background-color: rgba(20,27,41,1);
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 15.0px 80.0px;
    display: flex;
  }
  
  header .CypherNexusLogo {
    color: #fff;
    background-color: #141B29;
    opacity: 0.9;
    font-size:  1.3em;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    background-color: #141B29;
    color: #fff;
    opacity: 0.9;
    border-radius: 20.0px;
  }
  
  header ul li a.active{
    background: #C0F7B7;
    color: #141B29;
  }

  header ul li a.create{
    background: #124143;
    color: #fff;
  }
  
  header ul li a:hover{
    background: #C0F7B7;
    color: #141B29;
    opacity: 0.5;
  }
  
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    list-style: none;
    margin-left: 5%;
    display: inline-block;
  }
/* Ende Header*/


/* Glass container*/

.glass{
    padding: 2.0% 0 2.0% 0;
    background: linear-gradient(135deg, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0));
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border: 1.0px solid rgba(255, 255, 255, 0.20);
    border-radius: 20.0px;
    box-shadow: 0 10.0px 20.0px 0 rgba(0, 0, 0, 0.20);
  }
