/* Responsive changes from 1000px */

@media only screen and (max-width: 1000.0px){


    /* Specific by id */
  
    #rocket{
      order: 1;
      padding: 5% 5% 0 5%;
    }
    #welcometext{
      order: 2;
    }
    #welcometextsmall{
      display: none;
    }
  
  
    /* Container changes */
  
    .two-sides-6-4 {
      display: flex;
      flex-flow: column;
    }
  
    .two-sides-even2{
      display: flex;
      flex-flow: column;
    }
  
    .steps-two-sides{
      grid-template-columns: 30% 70%;
    }
  
    .reposition-text{
      display: none;
    }
  
    .two-sides-even{
      display: block;
    }
  
    .container{
      height: auto;
      width: auto;
    }
  
    .left-side{
      display: none;
    }
  
    .container-steps{
      padding: 0px;
    }
  
  
    /* Padding changes */
  
    .padding-horizontal{
      padding: 0 5% 0 5%;
    }
  
    .padding-horizontal3{
      padding: 0 10% 0 10%;
    }
  }
    /* Header */
  @media only screen and (max-width: 250.0px){
    header .CypherNexusLogo{
      display: none;
    }
  
  }
  
  @media only screen and (max-width: 600.0px){
    header{
      display: flex;
      padding: 10px 15px;
    }
    
    header .selection{
      display: none;
    }
    header .menu{
      display: flex;
    }
  
    header ul li a {
      text-decoration: none;
      padding: 6px 100px;
      background-color: #141B29;
      color: #fff;
      opacity: 0.9;
      border-radius: 20.0px;
    }
  
  }
  
  /* Responsive changes from 800px */
  
  @media only screen and (max-width: 800.0px){
  
  
    /* Text Styling */
  
    h1{
      font-size: 2.4rem;
      line-height: 3.0rem;
      font-weight: bold;
    }
    
    h2{
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }
    
    h3{
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: bold;
    }
    
    p{
      line-height: 1.5rem;
      font-size: 1rem;
      font-weight: 500;
    }
  
  
    /* Word break for text */
  
    .break-word{
      word-wrap: break-word;
    }
  }