* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}


/* Body color */

body{
  background-color: rgba(20, 27, 41, 1);
}


/* Textstyling */

h1{
  font-size: 3.25rem;
  line-height: 4.5rem;
  font-weight: bold;
}

h2{
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
}

h3{
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
}

p{
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.whiteheader{
  color: rgba(255, 255, 255, 0.9);
}

.greenheader{
  color: rgba(192, 247, 183, 0.9);
}

.greenheader2{
  color: rgba(90, 201, 148, 1);
}

.blackheader{
  color: rgba(0, 0, 0, 0.9);
}

.whitetext{
  color: rgba(255, 255, 255, 0.7);
}

.blacktext{
  color: rgba(0, 0, 0, 0.7);
}

.whitesmalltext{
  color: rgba(255, 255, 255, 0.4);
}

.blacksmalltext{
  color: rgba(0, 0, 0, 0.4);
}

.bodyTextDarkBlue {
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 20.0px;
  margin-top: 20.0px;
  font-size: 20.0px;
  font-weight: 600;
}

.small-text {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
}

.name:hover{
  transform: scale(1.2);
  transition: all 0.25s;
  opacity: 1;
}

/* Section division */
.divide{
  margin-top: 10%;
}


/* Colors */
.red{
  color: rgba(255, 86, 102, 1);
}


/* Padding */

.padding-vertical{
  padding-top: 2%;
  padding-bottom: 2%;
}

.padding-vertical2{
  padding-top: 4%;
  padding-bottom: 4%;
}

.padding-bottom{
  padding-bottom: 20.0px;
}

.padding-top{
  padding-top: 2%;
}

.paddingleft{
  padding-left: 12.5%;
}

.padding-left2{
  padding-left: 3%;
}

.padding-all{
  padding: 10%;
}

.padding-horizontal{
  padding: 0.0px 10% 0.0px 10%;
}

.padding-horizontal2{
  padding: 0.0px 5% 0.0px 5%;
}

.padding-horizontal3{
  padding: 0.0px 15% 0.0px 15%;
}

.footerendpadding{
  padding: 20.0px 0px 40.0px 0px
}


/* Containers */

.two-sides-6-4{
  margin-top: 10%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(1, 1fr);
}

.two-sides-3-7{
  margin-top: 10%;
  padding: 0.0px 5% 0.0px 5%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(1, 1fr);
}

.two-sides-2-8{
  margin-top: 10%;
  padding: 0.0px 5% 0.0px 5%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(1, 1fr);
}

.two-sides-even{
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.two-sides-even2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  height: 100%;
}

.container-center {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-login {
  margin: 40.0px auto; /* Noch ändern */
  width: 500.0px;
  height: auto;
  text-align: center;
}

.container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Alignment */

.align-all {
  display: flex;
  height: auto;
}

.left-side{
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.left-side-center{
  text-align: left;
  justify-content: flex-start;
  align-content: flex-start;
}

.align-left {
  display: flex;
  text-align: left;
  align-items: flex-start;
  height: auto;
}

.leftsidetext {
  width: 75%;
  text-align: left;
  align-self: flex-start;
}

.align-center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}


/* Imagesizing */

.left-side-image{
  width: 50%;
}

.img1Main{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  opacity: 0.8;
}

.image{
  width: 100%
}

.image-cnlogo {
  width: 6%;
}


/* Background images */

.blob-haikei{
  background-image: url(../assets/blob-haikei.svg);
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* Styling */

.glass{
  padding: 2.0% 0 2.0% 0;
  background: linear-gradient(135deg, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0));
  backdrop-filter: blur(10.0px);
  -webkit-backdrop-filter: blur(20.0px);
  border: 1.0px solid rgba(255, 255, 255, 0.20);
  border-radius: 20.0px;
  box-shadow: 0 10.0px 20.0px 0 rgba(0, 0, 0, 0.20);
}


/* Buttons */

button{
  cursor: pointer;
  text-align: center;
}

.btn {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-size: 100%;
  text-transform: uppercase;
  border-radius: 20.0px;
  max-width: 100%;
  word-wrap: break-word;
  opacity: 0.99;
}

.btn-lightgreen {
  height: 3.75rem;
  width: 21.25rem;
  background-color: rgba(192, 247, 183, 1);
  color: rgba(0, 0, 0, 0.8);
  font-size: 17.0px;
}

.btn-lightgreen:hover{
  opacity: 0.8
}

.btn-darkblue {
  height: 3.75rem;
  width: 21.25rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(20, 27, 41, 1);
  font-size: 17.0px;
}

.btn-darkblue:hover {
  opacity: 0.8;
}

.btn-back {
  height: 3.75rem;
  width:  3.75rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(20, 27, 41, 1);
  font-size: 17.0px;
  border-radius: 0px 20.0px 20.0px 0px;
}

.btn-back:hover {
  background-color: rgb(47, 57, 77);
}

.btn-green {
  height: 2.5rem;
  width: 13.75rem;
  background-color: rgba(90, 201, 148, 1);
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 17.0px;
}

.btn-green:hover{
  opacity: 0.8;
}

.btn-red {
  text-decoration: none;
  padding: 6px 15px;
  background-color: #141B29;
  color: #fff;
  opacity: 0.9;
  border-radius: 20.0px;
  background: rgba(255, 86, 102, 1);
  color: #141B29;
}

.btn-red:hover{
  opacity: 0.8;
}


/*Socialmedia ref*/

.socialspace{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20.0px;
  justify-content: center;
}

.socialspace .social-container {
  padding-top: 0.5rem;
  margin: 0.0px 20.0px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.socialspace .dark span {
  width: 60.0px;
  height: 60.0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 40%;
  display: block;
  align-items: center;
}

.socialspace .light span {
  width: 80.0px;
  height: 80.0px;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.75);

  border-radius: 40%;
  display: block;
  align-items: center;
}

.socialspace .dark span i {
  font-size: 30.0px;
  line-height: 60.0px;
}

.socialspace .light span i {
  align-self: center;
  font-size: 40.0px;
  line-height: 80.0px;
}

.socialspace .dark .tooltip {
  padding-top: 10.0px;
  font-size: 17.0px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.socialspace .light .tooltip {
  padding-top: 10.0px;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 0.75);
}

.socialspace .dark:hover{
  opacity: 0.8;
}

.socialspace .light:hover{
  opacity: 0.8;
}


/* Header */

header{
  background-color: rgba(20,27,41,1);
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10.0px 60.0px;
  display: flex;
}

header .CypherNexusLogo {
  background-color: #141B29;
  opacity: 0.9;
  font-size:  1.3em;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  justify-content: center;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  background-color: #141B29;
  color: #fff;
  opacity: 0.9;
  border-radius: 20.0px;
}

header ul li a.active{
  background: #C0F7B7;
  color: #141B29;
}

header ul li a:hover{
  background: #C0F7B7;
  color: #141B29;
  opacity: 0.5;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin: 3%;
  display: inline-block;
}




/*Footer*/

.waves{
  width: 100%;
  height: 500.0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/footerwaves.svg);
}

.footer{
  text-align: center;
  background-color: rgba(192, 247, 183, 1);
}

.row-footer{
  text-align: center;
  padding-top: 20.0px;
  padding-bottom: 20.0px;
}

.row-footer li{
  display: inline-block;
}

.row-footer a{
  margin: 0 20.0px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 20.0px;
}

.row-footer a:hover{
  opacity: 0.8;
}

.sub-aboutus{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1000.0px){


  /* Specific by id */

  #rocket{
    order: 1;
    padding: 5% 5% 0 5%;
  }
  #welcometext{
    order: 2;
  }
  #welcometextsmall{
    display: none;
  }


  /* Container changes */

  .two-sides-6-4 {
    display: flex;
    flex-flow: column;
  }

  .two-sides-even2{
    display: flex;
    flex-flow: column;
  }

  .steps-two-sides{
    grid-template-columns: 30% 70%;
  }

  .reposition-text{
    display: none;
  }

  .two-sides-even{
    display: block;
  }

  .container{
    height: auto;
    width: auto;
  }

  .left-side{
    display: none;
  }

  .container-steps{
    padding: 0px;
  }


  /* Padding changes */

  .padding-horizontal{
    padding: 0 5% 0 5%;
  }

  .padding-horizontal3{
    padding: 0 10% 0 10%;
  }

  /* Header */

  header{
    background-color: rgba(20,27,41,1);
    position: fixed;
    top: 0;
    z-index: 99999;
    justify-content: center;
    width: 100%;
    height: auto;
    display: flex;
  }
  
  header .CypherNexusLogo {
    display: none;
  }

}

@media only screen and (max-width: 800.0px){


  /* Text Styling */

  h1{
    font-size: 2.4rem;
    line-height: 3.0rem;
    font-weight: bold;
  }
  
  h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
  
  h3{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
  }
  
  p{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
  
}


/* ANIMATIONS // fading transition_container in and out */

.remove{
  display: none;
}

.hide {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: 1.5s;
}

/* shake container and glow red if password is wrong*/
.shake-container-red{
  animation-name: shake, glow-red;
  animation-duration: 0.8s, 1s;
  animation-iteration-count: 1, 1;
}