body{
  background-color: rgba(20, 27, 41, 1);
}

.team{
    margin: 20px;
    padding: 50px;
}

.team img {
    height: 200px;
    border-radius: 20px;
}

.ourteamsocialmedia{
    margin: 15px;
}

.ourteamsocialmedia a i{
    width: 40px;
    opacity: 0.6;
    color: rgb(90, 201, 148);
    opacity: 0.8;
}

.ourteamsocialmedia a i:hover{
    transform: scale(1.4);
    transition: all 0.25s;
    opacity: 1;
}

/* Changes text content */

/* timeline */

.reposition-text{
  width: 220%;
  position: relative;
  left: 60.0px;
}

.container-steps{
  padding: 5.0px 120.0px 5.0px 5.0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steps-divider{
  height: 80.0px;
  width: 10px;
  position: relative;
  background-color: rgba(90, 201, 148, 1);;
  }

.btn-steps{
  z-index: 1;
  height: 40.0px;
  width: 40.0px;
  position: relative;
  border-radius: 30%;
  background-color: rgba(90, 201, 148, 1);
  border: solid rgba(90, 201, 148, 1);
  align-items: center;
  text-align: center;
}

.btn-steps:hover{
  transform: scale(120%);
  transition: all 0.25s;
}

.btn-steps.active{
  z-index: 1;
  height: 40.0px;
  width: 40.0px;
  position: relative;
  border-radius: 30%;
  border: solid rgba(90, 201, 148, 1);
  background-color:rgba(192, 247, 183, 1);
  transform: scale(120%);
  transition: all 0.25s;
}


/* fading transition_container in and out */

.hide {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: 1.5s;
}

/* wtf */

header
{
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: auto;
  padding: 10.0px 80.0px;
  display: flex;
}

header .CypherNexusLogo {
  color: #fff;
  background-color: #141B29;
  opacity: 0.9;
  font-size: 2em;
  padding-left: 20px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  background-color: #141B29;
  color: #fff;
  opacity: 0.9;
  border-radius: 20px;
}

header ul li a.active{
  background: #C0F7B7;
  color: #141B29;
}

header ul li a:hover{
  background: #C0F7B7;
  color: #141B29;
  opacity: 0.8;
}
/*wtf*/
