.aboutus {
  text-align: center;
}

.team{
    padding: 5%;
}

.team img {
    height: 200px;
    border-radius: 20px;
}

.ourteamsocialmedia{
    margin: 15px;
}

.ourteamsocialmedia a i{
    width: 40px;
    opacity: 0.6;
    color: rgb(90, 201, 148);
    opacity: 0.8;
}

.ourteamsocialmedia a i:hover{
    transform: scale(1.4);
    transition: all 0.25s;
    opacity: 1;
}

/* Changes text content */

/* timeline */

.steps-two-sides{
  margin-top: 10%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(1, 1fr);
}

.container-steps{
  padding: 5.0px 120.0px 5.0px 5.0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steps-divider{
  height: 80.0px;
  width: 10px;
  position: relative;
  background-color: rgba(90, 201, 148, 1);;
  }

.btn-steps{
  z-index: 1;
  height: 40.0px;
  width: 40.0px;
  position: relative;
  border-radius: 30%;
  background-color: rgba(90, 201, 148, 1);
  border: solid rgba(90, 201, 148, 1);
  align-items: center;
  text-align: center;
}

.btn-steps:hover{
  transform: scale(120%);
  transition: all 0.25s;
}

.btn-steps.active{
  z-index: 1;
  height: 40.0px;
  width: 40.0px;
  position: relative;
  border-radius: 30%;
  border: solid rgba(90, 201, 148, 1);
  background-color:rgba(192, 247, 183, 1);
  transform: scale(120%);
  transition: all 0.25s;
}

.reposition-text{
  width: 220%;
  position: relative;
  left: 60.0px;
}
